body {
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

.header__container {
  background-color: #0cf6b1;
  height: 40px;
  position:absolute;
  width: 100%;
}

.header__content {
  display: inline-block;
  font-size: 14px;
  margin-top: 12px;
}

.header__section--left {
  float:left;
  padding-left: 20px;
}

.header__section--right {
  position: absolute;
  right: 20px;
  top: 0;
}

.header__link {
  color: #000;
}

.header__link:hover {
  color: #fff;
}

.studio-index {
  font-weight: 200;
  margin-left:70px;
}

.useallfive {
  font-weight: 200;
  margin-right:70px;
}

.header__close {
}

.header__content__company {
  text-decoration: underline;
}

.iframe__site {
  bottom: 0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 40px;
  width: 100%; 
}

.header__binoculars {
  margin: 0 auto;
  width: 40px;
  padding-top: 9px;
}

.lefteye {
  fill: #fff;
  position: absolute;
  width: 20px;
}

.righteye {
  fill: #fff;
  position: absolute;
  width: 20px;
}

.leftpupil {
  fill:#000;
  position: relative;
  width: 5px;
}

.rightpupil {
  fill:#000;
  position: relative;
  width: 5px;  
}
